:root {
  --vwp-primary: #409eff;
  --vwp-success: #67c23a;
  --vwp-warning: #e6a23c;
  --vwp-danger: #f56c6c;
  --vwp-info: #909399;

  /* 背景颜色 */
  --vwp-bg-color: #fff;
  --vwp-bg-color-page: #f2f3f5;
  --vwp-bg-color-overlay: #ffffff;

  /* box-shaw */
  --vwp-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, .04), 0px 8px 20px rgba(0, 0, 0, .08);


  /* 字体 */
  --vwp-font-size-base: 14px;


  /* 文本 */
  --vwp-text-color: #303133;
  --vwp-text-color-primary: #303133;
  --vwp-text-color-regular: #606266;
  --vwp-text-color-secondary: #909399;
  --vwp-text-color-placeholder: #a8abb2;
  --vwp-text-color-disabled: #c0c4cc;


  --vwp-border-color: #dcdfe6;
  --vwp-border-color-light: #e4e7ed;
  --vwp-border-color-lighter: #ebeef5;
  --vwp-border-color-extra-light: #f2f6fc;
  --vwp-border-color-dark: #d4d7de;
  --vwp-border-color-darker: #cdd0d6;

  /* Button */
  --vwp-button-font-size: 14px;
  --vwp-button-font-small: 12px;
  --vwp-button-font-large: 16px;
  --vwp-button-border-radius: 4px;

  --vwp-button-height-default: 32px;
  --vwp-button-height-small: 24px;
  --vwp-button-height-large: 40px;

  --vwp-button-padding-default: 12px;
  --vwp-button-padding-small: 8px;
  --vwp-button-padding-large: 16px;



}
